/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
}
.flash {
  background-color: rgb(52, 211, 153);
  color: white;
  position: absolute;
  top: 30%;
  text-align: center;
  line-height: 5vh;
  width: 30%;
  transform: translateY(-50%);
  border-radius: 0.5em;
}
.container {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.box {
  margin: auto;
  background-color: white;
}
.submit-button {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-top: 5px;
  padding: 4px 10px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
}
h2 {
  color: #333333;
}
input {
  color: #333333;
}
a {
  color: #333333;
}
